---
import Layout from "../layouts/Layout.astro";
import "../css/general.css";
import Objektiv from "../img/objektiv.webp";
import kontorartikler from "../img/kontorartikler.webp";
import moenter from "../img/moenter.webp";
import GLS from "../img/gls.webp";
import gul_top from "../img/gul_bolge_top.webp";
import gul_bund from "../img/gul_bolge_bund.webp";
import hvid_top from "../img/hvid_top.webp";
import Karrusel_ex from "../components/Karrusel.astro";
import iglogo from "../img/iglogoblue.webp";
---

<Layout>
    <section class="grid_1-1 hero">
        <div><script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/17751df1-2dcd-45cb-8e2c-555116030c99/NIVRt20woD.lottie" style="height: 380px;" autoplay loop></dotlottie-wc>
</div>
<h1>Analog magi i et digitalt univers, kom og mød kameraer med sjæl.</h1>
    </section>
<img class="streach" src={gul_top.src} alt="">
    <div class="gul_bg">
        <section class="grid_3-1"><div>
            <h2>ALT TIL DIN ANALOG REJSE - ÉT STED</h2>
        <p>NV Foto er drevet af entusiaster, der brænder for at bevare og dele glæden ved analog fotografering. 
Vi  sælger og køber brugte kameraer, fremkalder dine film, og tilbyder alt, hvad du har brug for til din analoge rejse.
Med årtiers erfaring og en passion for kvalitet kan du stole på, at vi guider dig hele vejen. Besøg os i butikken, og lad os hjælpe dig med at genskabe magien i at tage billeder - én rulle film ad gangen.</p></div>
<img id="objektiv" src={Objektiv.src} alt="Illustration af en kameralinse"></section>
    </div>
<img class="streach" src={gul_bund.src} alt="">
<section>
    <h2>UDFORSK</h2>
    <Karrusel_ex />
</section>

<img class="streach" src={hvid_top.src} alt="">
<div class="hvid_bg">
    <section>
    <h2 class="h2">VI TILBYDER OGSÅ:</h2>
    <div class="grid_1-1">
<article class="dark_blue">
    <div class="flex_r">
    <img class="dark_blue_img" src={kontorartikler.src} alt="Illustration af printer, samt rammer">
<h3 class="font_light rammer_kontor">RAMMER & KONTORARTIKLER</h3></div>
<p class="font_light">I butikken finder du et udvalg af kontorartikler. Her kan du gå på opdagelse i alt fra blækpatroner og papir, til skriveredskaber, ringbind og andre praktiske redskaber, der gør hverdagen lidt lettere - uanset om det er til studie, arbejde eller hjemmekontoret.</p>
<p class="font_light">Du kan også finde et udvalg af billederammer, dine bedste øjeblikke fortjener en plads i hjemmet.</p>
</article>

<article class="dark_blue">
    <img class="dark_blue_img_moenter" src={moenter.src} alt="Illustration af mønter">
<h3 class="font_light">SAMLEROBJEKTER</h3>
<p class="font_light">Vi sælger både gamle og nye mønter samt frimærker og har et stort, spændende udvalg på hylderne. Kom gerne forbi og se vores samlinger – måske finder du netop det du mangler til din samling.</p>
<p class="font_light">Har du en samling liggende du vil sælge - stor eller lille - er du altid velkommen til at kigge forbi til en uforpligtende snak.</p>
</article>

<article class="light_blue">
    <h3>GLS</h3>
    <div class="flex_r_web"><p class="light_blue_p">Du kan både sende og hente dine pakker fra GLS hos NV Foto.</p>
    <img class="light_blue_img" src={GLS.src} alt="GLS pakkeshop label"></div>
</article>

<article class="light_blue">
    <h3>INSTA-FÆLLESSKAB</h3>
    <div class="flex_r_web"><div><p class="light_blue_p">Følg os på Instagram for tips, nyheder og små glimt af det, der sker i butikken.</p>
    <a href="https://www.instagram.com/nv.foto.dk/" target="_blank" aria-label="Knap til NV-FOTO's instagram" id="ig_btn">@NV.FOTO.DK</a></div>
    <a href="https://www.instagram.com/nv.foto.dk/" target="_blank"><img class="light_blue_img"  src={iglogo.src} alt=""></a></div>
</article>
</section>
</div>
</div>
</Layout>

 
<style>
#ig_btn {
    display: inline-block;
        text-decoration: none;
        background-color: #FFC446;
        border-style: solid;
        border-radius: 25px;
        border-color: #364775;
        text-align: center;
        font-family: montserrat-sb;
        margin-top: 30px;
        cursor: pointer;
        box-shadow: 0px 5px 0px #FFC446;
        padding: 14px;
        color: #091F5B;
        margin-top: -20px;
    }
    #ig_btn:hover {
        box-shadow: none;
        transform: translateY(5%);
    }
    .hero {
        margin-bottom: 100px;
        margin-top: 90px;
    }
    .hvid_bg {
        background-color: white;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .gul_bg {
        background-color: #ffd87d;
        
    }
    .streach {
        width: 100vw;
        display: block;
    }
    .light_blue {
        background-color: #E5F3FF;
        border-radius: 25px;
        padding: 20px;
    }
    .font_light {
        color: white;
    }
 .flex_r {
    display: flex;
    flex-direction: row;
   }
    #objektiv {
        max-height: 300px;
        margin-top: 25px;
        display: none;
    }
    dotlottie-wc {
        object-fit: cover;
    }
    img, div {
        margin: 0;
    }
     img {
        width: auto;
        margin: 0;
     }
     section {
margin: 0 auto;
max-width: 500px;
padding-left: 10px;
padding-right: 10px;
     }
     h1 {font-size: 48px;
    margin: 0;}
    h2 {
        margin: 0;
        padding-top: 20px;
        margin-bottom: 35px;
    }
    h3 {
    max-width: 310px;}
    p {
        margin: 0;
        padding-bottom: 35px;
    }
     .dark_blue
     {
background-color: #091F5B;
    border-radius: 25px;
padding: 20px;
margin-bottom: 10px;
 position: relative;
    overflow: visible;
}
.dark_blue_img {
    max-height: 160px;
    width: auto;
}
.light_blue_img {
    max-height: 160px;
    width: auto;
    border-radius: 25px;
}
.dark_blue_img_moenter {
    max-height: 80px;
    width: auto;
}
@media (max-width: 799px) {
    .light_blue {
        position: relative;
        margin-top: 60px;
    }
    .light_blue_img {
        display: flex;
        margin: 0 auto;
        max-width: 200px;
        height: auto;
        margin
    }
    dotlottie-wc {
        max-height: 250px;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .flex_r {
        position: relative;
        display: flex;
        flex-direction: column; 
    }
    .dark_blue_img_moenter {
        position: absolute;
        top: -8%;
        left: 25%;
    }

    .dark_blue_img {
        position: absolute;
       top: -90%;
       left: 25%;
        margin: 0 auto;
    }

    .rammer_kontor {
        margin-top: 60px;
    }

    .dark_blue {
        padding-top: 60px;
        margin-top: 100px;
    }
}
    @media (min-width: 800px) {
        #objektiv {
        display: block;
    padding-bottom: 10px;
    }
        .hero {
        margin-bottom: 150px;
        margin-top: 120px;
    }
        .flex_r_web {
            display: flex;
    flex-direction: row;
        }
        dotlottie-wc {
        height: auto;
        width: 580px;
    }
     section {
        max-width: 1160px;
     }
     p {
        max-width: 760px;
     }
     .rammer_kontor {
        padding-top: 70px;
     }
     .dark_blue {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
     }
     .dark_blue_img_moenter {
        justify-self: end;
    max-height: 100px;
    width: auto;
}
.dark_blue_img {
    order: 1;
}
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .grid_3-1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }
    h1 {
        font-size: 54px;
    }
    }
</style>
