---
import Layout from "../layouts/Layout.astro";
import "../css/general.css";
import CameraCard from "../components/CameraCard.astro";
import CameraCardreverse from "../components/CameraCardsreverse.astro";
import Pointnshoot from "../img/pointnshoot.webp";
import Oldschool from "../img/oldschoolanalog.webp";
import Engangskamera from "../img/engangskamera.webp";
import Instax from "../img/instax.webp";
import Tilbehor from "../img/flash.webp";
import Tilbehorhover from "../img/flashhover.webp";
import InfoBox from "../components/InfoboxBlue.astro";
import PointnshootHover from "../img/pointnshoothover.webp";
import OldschoolHover from "../img/oldschoolanaloghover.webp";
import EngangskameraHover from "../img/engangskamerahover.webp";
import InstaxHover from "../img/instaxhover.webp";
import CTAbtn from "../components/CTAbtn.astro";
---

<Layout>
  <section class="Kameraside">
    <div class="introtext">
      <h1>KAMERA</h1>
      <p>
        Hos NV Foto sælger vi brugte analog kamera samt tilbehør til dit kamera.
        Vi tester vi altid de brugte kamera inden vi sætter dem på hylden så du
        kan være tryg ved, at alt fungerer præcis som det skal.
      </p>
      <div class="box-flex">
        <CTAbtn href="#camera-anchor" aria-label="Gå til kamera">Kamera</CTAbtn>
        <CTAbtn href="#film-anchor" aria-label="Gå til film">Film</CTAbtn>
        <CTAbtn href="#tilbehor-anchor" aria-label="Gå til tilbehør"
          >Tilbehør</CTAbtn
        >
      </div>
    </div>
    <div id="camera-anchor">
      <CameraCard
        src={Pointnshoot.src}
        hoverSrc={PointnshootHover.src}
        headline="POINT AND SHOOT"
        bodytext="Point-and-shoot kameraer er perfekte til dig, der vil fange øjeblikke uden at tænke for meget over indstillingerne på kameraet. De er kompakte, nemme at have med i tasken og klar til at skyde, så snart du trykker på knappen. Et lille, ukompliceret kamera med masser af charme og den særlige analoge følelse."
      />
      <CameraCardreverse
        src={Oldschool.src}
        hoverSrc={OldschoolHover.src}
        headline="OLD SCHOOL ANALOG"
        bodytext="Disse kameraer er for dig, der vil fordybe dig i selve fotografi-håndværket. Her er der tid til at tænke, indstille og skabe billeder med sjæl. Uanset om du er nybegynder eller erfaren, giver disse kameraer dig en ægte, ufiltreret oplevelse og resultater, der er værd at vente på. Billederne har sandt karakter, sjæl og et udtryk, du selv har formet helt fra starten."
      />
      <CameraCard
        src={Engangskamera.src}
        hoverSrc={EngangskameraHover.src}
        headline="ENGANGSKAMERA"
        bodytext="Engangskameraer er den nemmeste måde at tage analoge billeder på! Perfekt til fester, rejser og små hverdagseventyr, hvor det handler mere om stemningen end det perfekte skud. Ukompliceret, sjovt og altid autentisk."
      />
      <CameraCardreverse
        src={Instax.src}
        hoverSrc={InstaxHover.src}
        headline="INSTAX"
        bodytext="Instax er for dig, der vil fange livets små, sjove og uforglemmelige øjeblikke og have dem i hånden med det samme. Med sit ikoniske, kompakte design og farverige billeder er Instax perfekt til at skabe fysiske minder, der er klar til at blive sat på køleskabet, sat i rammer eller delt med venner. Ideelt til fester, rejser eller bare en hyggelig dag med vennerne."
      />
    </div>
    <div class="infoboxes-container" id="film-anchor">
      <InfoBox>
        <h2>FILM TIL DIT KAMERA</h2>
        <p>
          Når du køber et analog kamera, skal der film til, for at det kan
          bruges.
        </p>
        <p>Vi bestræber os på at have disse film hjemme, i 135mm og 120mm:</p>
        <ul>
          <li>Fuji</li>
          <li>Portra</li>
          <li>Kodak</li>
          <li>Ilford</li>
        </ul>
      </InfoBox>
      <InfoBox>
        <h2>VIL DU SÆLGE DIT KAMERA?</h2>
        <p>Dette skal du huske når du kommer ned med dit brugte kamera:</p>
        <ul>
          <li>
            Hvis dit kamera er digitalt så husk at have det ladet op på forhånd.
          </li>
          <li>
            Medbring altid billede ID, det er lovpligtigt for at vi kan
            gennemføre salget.
          </li>
          <p>På forhånd, tak!</p>
        </ul>
      </InfoBox>
    </div>
    <div id="tilbehor-anchor">
      <CameraCard
        src={Tilbehor.src}
        hoverSrc={Tilbehorhover.src}
        headline="KAMERA TILBEHØR"
        bodytext="Hos NV Foto finder du alt det tilbehør, der gør din fotografoplevelse endnu bedre. Uanset om du leder efter det perfekte objektiv, en UV-linse, en blitz, eller en solidt tripod, vi har det, der gør dit kamera endnu mere alsidigt. Kom forbi og udforsk, hvordan det rette tilbehør kan forvandle dine øjeblikke til noget ekstraordinært."
      />
    </div>
  </section></Layout
>

<style>
  section {
    max-width: 1300px;
  }

  html {
    scroll-behavior: smooth;
  }

  .Kameraside {
    margin: auto 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .box-flex {
    display: flex;
    flex-direction: column;
  }

  #camera-anchor,
  #film-anchor,
  #tilbehor-anchor {
    scroll-margin-top: 60px;
  }

  .introtext,
  h1 {
    max-width: 800px;
    margin-bottom: 20px;
  }

  .infoboxes-container h2,
  .infoboxes-container p {
    color: #ffffff;
  }

  .infoboxes-container h2 {
    font-size: clamp(24px, 2vw, 42px);
  }

  .infoboxes-container ul {
    color: #ffffff;
    padding-left: 20px;
    font-family: montserrat-r;
    line-height: 2;
    font-size: 20px;
  }

  .infoboxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 20px 0px;
  }

  @media screen and (max-width: 1300px) {
    .infoboxes-container {
      grid-template-columns: 1fr;
      margin: 20px 0;
    }
  }

  @media screen and (max-width: 1000px) {
    body,
    html {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .Kameraside {
      margin: auto;
      width: calc(100% - 20px);
    }

    CameraCard {
      margin: auto;
      right: 0;
      max-width: 100%;
      width: 200px;
    }
  }
</style>
