---
const { data } = Astro.props;
---
<section class="grid">

  <div>
    <h2>{data.overskrift}</h2>
     <h3>{data.underoverskrift_1}</h3>
    <p>{data.broedtekst_1}</p>
    <p>{data.broedtekst_2}</p>
  </div>

  <div id="test">
    
    <div class="pris-row">
      <span>{data.pristekst_1}</span>
      <span>{data.pris_1}</span>
    </div>

    <div class="pris-row">
      <span>{data.pristekst_2}</span>
      <span>{data.pris_2}</span>
    </div>

    <div class="pris-row">
      <span>{data.pristekst_3}</span>
      <span>{data.pris_3}</span>
    </div>
  </div>

<div>
  <h3>{data.underoverskrift_2}</h3>
  <p>1-2 dage</p>
</div>

  <div>
    <div class="pris-row">
      <span>{data.pristekst_4}</span>
      <span>{data.pris_4}</span>
    </div>
  </div>

<div>
  <h3>{data.underoverskrift_3}</h3>
  <p>1-2 dage</p>
  </div>
  <div>
    <div class="pris-row">
      <span>{data.pristekst_5}</span>
      <span>{data.pris_5}</span>
    </div>

    <div class="pris-row">
      <span>{data.pristekst_6}</span>
      <span>{data.pris_6}</span>
    </div>

    <div class="pris-row">
      <span>{data.pristekst_7}</span>
      <span>{data.pris_7}</span>
    </div>
  </div>

</section>

<style>
.grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 40px;
  padding: 40px 0;
}

#test{}


.pris-row {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px 0;
  border-bottom: 1px solid #00071A;
}

.pris-row span:last-child {
  font-weight: 500;
}

section {
  margin-bottom: 80px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

p,
span {
  font-family: montserrat-r;
  font-size: 20px;
  margin: 4px 0;
}
</style>