---
const { data } = Astro.props;

---

<section>

<div>
 <h2>{data.overskrift}</h2>
 <p>{data.broedtekst_1}</p>
 <p>{data.broedtekst_2}</p>
 <h3>{data.underoverskrift_1}</h3>
 <p>{data.pristekst_1}</p>
  <p>{data.pris_1}</p>
 <p>{data.pristekst_2}</p>
   <p>{data.pris_2}</p>
 <p>{data.pristekst_3}</p>
   <p>{data.pris_3}</p>
 <h3>{data.underoverskrift_2}</h3>
 <p>{data.pristekst_4}</p>
   <p>{data.pris_4}</p>
 <h3>{data.underoverskrift_3}</h3>
 <p>{data.pristekst_5}</p>
    <p>{data.pris_5}</p>
 <p>{data.pristekst_6}</p>
    <p>{data.pris_6}</p>
 <p>{data.pristekst_7}</p>
    <p>{data.pris_7}</p>
</div>


</section>


<style>
    section{
        margin: 140px;
    }

    
</style>